{erl_opts, [debug_info]}.
{deps, []}.

{relx, [
  %% Build a release named 'webdrv' at version 1.0
  {release, {webdrv, "1.0"}, [webdrv, sasl]},
  {dev_mode, false},
  {include_erts, true},           % bundle ERTS for portability
  {extended_start_script, true}   % adds service-friendly start script
]}.
